<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    
    <!--Hoja de estilos-->
    <link rel="stylesheet" href="../styles.css">

    <!--Favicon-->
    <link rel="icon" type="image/svg" href="../logos/favicon.svg">

    <title>Products</title>
</head>
<body>
    <section class="main-container">
        <div class="cards-container">
            <div class="product-card">
                <img src="https://media.istockphoto.com/id/2197760431/es/foto/pl%C3%A1tano-medio-pelado-aislado-sobre-fondo-negro.jpg?s=612x612&w=0&k=20&c=DDZI3LEr0lY4dCAp4edNkRiT6UfW6jardKINVI1AdR4=" alt="Banana">
                <div class="product-info">
                    <div>
                        <p>$20.000</p>
                        <p>Banana</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>
        
            <div class="product-card">
                <img src="https://images.pexels.com/photos/35245707/pexels-photo-35245707.jpeg" alt="Watermelon">
                <div class="product-info">
                    <div>
                        <p>$30.000</p>
                        <p>Watermelon</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/34191920/pexels-photo-34191920.jpeg" alt="Apple">
                <div class="product-info">
                    <div>
                        <p>$40.000</p>
                        <p>Apple</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/10366033/pexels-photo-10366033.jpeg" alt="Pear">
                <div class="product-info">
                    <div>
                        <p>$50.000</p>
                        <p>Pear</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/8627567/pexels-photo-8627567.jpeg" alt="Grapes">
                <div class="product-info">
                    <div>
                        <p>$60.000</p>
                        <p>Grapes</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/35669395/pexels-photo-35669395.jpeg" alt="Plums">
                <div class="product-info">
                    <div>
                        <p>$70.000</p>
                        <p>Plums</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/4235460/pexels-photo-4235460.jpeg" alt="Feijoas">
                <div class="product-info">
                    <div>
                        <p>$20.000</p>
                        <p>Feijoas</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/18234417/pexels-photo-18234417.jpeg" alt="Tomatoes">
                <div class="product-info">
                    <div>
                        <p>$30.000</p>
                        <p>Tomatoes</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/28524414/pexels-photo-28524414.jpeg" alt="Lettuce">
                <div class="product-info">
                    <div>
                        <p>$40.000</p>
                        <p>Lettuce</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/17975573/pexels-photo-17975573.jpeg" alt="Cucumber">
                <div class="product-info">
                    <div>
                        <p>$50.000</p>
                        <p>Cucumber</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/12296935/pexels-photo-12296935.jpeg" alt="Onions">
                <div class="product-info">
                    <div>
                        <p>$60.000</p>
                        <p>Onions</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/38938579/pexels-photo-38938579.jpeg" alt="Carrots">
                <div class="product-info">
                    <div>
                        <p>$70.000</p>
                        <p>Carrots</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/32640196/pexels-photo-32640196.jpeg" alt="Cauliflower">
                <div class="product-info">
                    <div>
                        <p>$20.000</p>
                        <p>Cauliflower</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/36071084/pexels-photo-36071084.jpeg" alt="Broccoli">
                <div class="product-info">
                    <div>
                        <p>$30.000</p>
                        <p>Broccoli</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/13354859/pexels-photo-13354859.jpeg" alt="Parsley">
                <div class="product-info">
                    <div>
                        <p>$40.000</p>
                        <p>Parsley</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

        </div>
    </section>
</body>
</html>